body {
  font-family: 'Poppins', sans-serif; /* 'Helvetica Neue', Helvetica, Arial, 'Lato';*/
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: inherit; /*Helvetica, 'Montserrat';*/
  line-height: 1.2;
}

hr.white-sleek {
	/*
	margin-top: 40px;
	margin-bottom: 40px;
	*/
	border-top: 2px solid #eee;
	max-width: 70%;
  /*line-height: 4rem !important;*/
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #84e0be;
}

hr.star-dark {
  border-color: #605E5E;
}

hr.star-dark:after {
  color: #605E5E;
  background-color: white;
}

section {
  padding: 70px 0;
}

section h2 {
  font-size: 2.25rem;
  /*line-height: 4rem;*/
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  section {
    padding: 8rem 0;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: inherit; /*'Helvetica Neue', Helvetica, 'Montserrat';*/
}

#mainNav .navbar-brand {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  /* letter-spacing: 0.0625rem;*/
  letter-spacing: 0.0150rem;
  font-size: 0.9rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  transition: 0.3s;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  /*color: #84e0be;*/
	color: rgba(231,255,110,1);
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  /* color: #84e0be;*/
	color: rgba(231,255,110,1);
}

#mainNav .navbar-toggler {
  font-size: 10px;
	/*
  font-size: 80%;
  padding: 0.8rem;
	*/
}

#mainNav > div.container > button.navbar-toggler:hover {
	color: rgba(231,255,110,1) !important;
}

@media (max-width: 992px) {
	.bg-none {
		background-color: #605E5E !important;
	}
}

/*
@media screen and (max-width: 768px) {
	.text-secondary-header {
		font-size: 76px !important;
	}
}
*/

@media screen and (min-width: 992px) {
	.text-secondary-header {
		font-size: 76px !important;
		padding-bottom: 20px;
	}
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    padding-top: 1rem;
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    /* margin-top: 0; */
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
	color: rgba(231,255,110,1);
    /*background: #84e0be;*/
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
	color: rgba(231,255,110,1);
    /*background: #84e0be;*/
  }
  #mainNav.navbar-shrink {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  /*padding-top: 6rem; /*calc(6rem); + 10px);
  padding-bottom: 8rem;*/
}

header.masthead h1 {
  font-size: 5rem;
  line-height: 5rem;
}

header.masthead h2 {
  font-size: 50px;
  /* font-size: 1.3rem; */
  /* font-family: 'Lato'; */
  /* font-family: 'Poppins', sans-serif; */
}

header.masthead h3 {
  /* font-size: 1.3rem; */
  /* font-family: 'Lato'; */
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 2rem; /*calc(6rem); + 20px);*/
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 7.75em;
    line-height: 6rem;
  }
  header.masthead h2,
  header.masthead h3 {
    /* font-size: 2.25em;
    font-family: 'Poppins', sans-serif; */
  }
}

/* Centre the title inside the header */
/*
#parent {
	position: relative;
}

*/
#v-center {
  position: absolute;
  /*top: 40%;*/
  line-height: 1.5;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.25em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #84e0be;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #605E5E;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #84e0be;
}

a:focus, a:hover, a:active {
  color: #128f76;
  text-decoration: none;
  /*color: red;*/
}

.btn {
  border-width: 2px;
}

.bg-primary {
 background-color: #84e0be !important;
}

.bg-secondary {
  background-color: #605E5E !important;
	/*
  -webkit-transition: background-color 0.3s, background-color: 0.3s ease;
  -moz-transition: background-color 0.3s, background-color: 0.3s ease;
  transition: background-color 0.3s, background-color: 0.3s ease;
	*/
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.bg-none {
	background-color: none !important;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.text-primary {
  color: #84e0be !important;
}

.text-secondary {
  color: #605E5E !important;
}

.text-secondary-header {
	font-size: 4.5rem;
}

.btn-primary {
  background-color: #84e0be;
  border-color: #84e0be;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #605E5E;
  border-color: #605E5E;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}

.horizontal_div {
  padding-bottom: 25px;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  border: none;
  transition: 0.3s;
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.3);
}

.button.white {
  background-color: #fff;
  color: rgb(132, 224, 190);
}

.button.white:hover {
  background-color: #605E5E;
  color: #fff;
  cursor: pointer;
}

.masthead .button {
  margin-top: 30px;
}

#scroll-list {
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 10;
  /* color: #BEBEBE;
  color: darkgrey;
   */
}

#scroll-list > li > a {
  color: darkgrey;
}

#scroll-list > li {
  position: relative;
  padding: 10px 10px 30px 0px;
  display: block;
  left: -30px;
  /* margin: 10px 10px 10px 10px; */
}

#scroll-list > li > a:hover {
  color: gray;
  transition: color 0.5s ease;
  cursor: pointer;
}

.slider {
  color: darkgrey;
  /*z-index: 10;*/
}

.number {
  color: rgba(231,255,110,1);
}

.fa-dot-circle-o {
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.3);
}

.scrolling-button {
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.3);
}

.scrolling-button#services-btn {
  font-style: inherit;
  border-color: #605E5E;
  color: #605E5E;
  background-color: transparent;
}

.scrolling-button#services-btn:hover {
  background-color: #605E5E;
  color: #FFF;
}

.service-image-holder {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-image {
  display: block;
  margin: 0 auto;
}
